

.size{
    height: 300px;
    width: 80%;
}
.slider{

    margin:10px 10px;
    box-shadow: -10px -10px 20px cadetblue,10px 10px 20px cadetblue;
    
 }


.container-about{
    flex-direction: column;
    padding: 0px 0px;
    margin: 0px 0px;
    justify-content: center;
    align-items: center;
    

}
.container-about div{
    width: 300px;
}
.container-about img{
    margin: 10px 10px;
  
    
   width: 300px;
   height: 300px;
}
/* .................. */

#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
    
}

#services .box { 
    padding: 6px;
    margin: 2px 20px; 
    width: 200px;
}
