

.size{
    height: 300px;
    width: 80%;
}
.slider{

    margin:10px 10px;
    box-shadow: -10px -10px 20px cadetblue,10px 10px 20px cadetblue;
    
 }


.card-counter{
    margin: 40px;

}

.counter{
    padding: 5px;
    margin-left: 11px;

}

.container-about{
    flex-direction: column;
    padding: 0px 0px;
    margin: 0px 0px;
    justify-content: center;
    align-items: center;
    

}
.container-about div{
    width: 300px;
    padding: 10px 1px;
}
.container-about img{
    margin: 10px 10px;
  
    
   width: 300px;
   height: 300px;
}
.container_grid img{
    width: 315px;
    height: 400px;
    padding: 10px 5px;
    
}
/* .................. */
